.container{
  display: block;
  max-width: 100%;
  @media screen and (min-width: 992px){
    width: 990px;
    padding: 1.8rem;
    margin: auto;
  }
  @media screen and (min-width: 1200px){
    width: 1070px;
  }
}